body {
    background-color: #ffeeff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}    

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}

h1 {
    text-align: center;
}

.content-block {
    max-width: 50rem;
}

.buttonlike-link {
    background-color: purple;
    color: #ffeeff;
    padding: 15px 25px;
    margin: 0.15rem;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 1rem;
}

#predict-button {
    padding: 15px 25px;
    border-radius: 1rem;
    border: none;
    background-color: purple;
    color: #ffeeff;
    font-size: 1rem;
    font-weight: bold;
}

#predict-button:active {
    background-color: darkmagenta;
}

#cards-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

#cards-container img {
    transition-property: transform;
    transition-duration: 1s;
    width: 30%;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

/* кнопки навигации на главной */
@media screen and (max-width: 650px) {
    .nav-buttons-container {
        flex-direction: column;
    }
}

.nav-buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

a.button-go-back {
    padding: 15px 25px;
    border-radius: 1rem;
    background-color: purple;
    color: #ffeeff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    a.button-go-back {
        margin: 0;
        display: block;
        padding: 0.5rem;
        border-radius: 0;
    }
}

/* голосовалки */
.radio-variant {
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0.25rem;
    max-width: 100%;
}

.radio-variant input {
    display: none;
}

.radio-variant-correct {
    background-color: darkseagreen;
}

.radio-variant-wrong {
    background-color: hotpink;
}

.radio-variant-container {
    max-width: 100%;
    margin: 0.1rem;
}

/* Собобый текст */
.text-wrong {
    font-weight: bold;
    color: darkred;
}
.text-correct {
    font-weight: bold;
    color: darkgreen;
}
.text-warn {
    font-weight: bold;
    color: darkorange;
}

/* лист карточек */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.flex-container-element {
    margin: 0.5rem;
    border: 1px solid darkmagenta;
    border-radius: 5px;
}

.flex-container-element > * {
    padding: 5px;
}

.flex-container-element-content > * {
    padding: 5px;
}

.flex-container-element-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container-element > h2 {
    text-align: center;
    border-bottom: 1px solid darkmagenta;
}

.size-s {
    width: 25rem;
}

input.search {
    font-size: 1rem;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    padding: 0.5rem;
}

/* для вращения карт */
img.img-upside-down {
    transform: rotate(180deg);
}

#cards-container img.card_back {
    transform: rotateY(90deg) rotate(180deg);
}

#cards-container img.card_front {
    transform: none;
}

#cards-container img.card_back.img-upside-down {
    transform: rotateY(90deg);
}

#cards-container img.card_front.img-upside-down {
    transform: rotate(180deg);
}
