<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Значения арканов таро</title>
    <meta name="description" content="Список карт таро Уэйта и справочник их значений для прямого и перевернутого положения">
    <meta name="Keywords" content="гадания,таро,уэйт,значения,карты,арканы">
    <meta http-equiv="content-language" content="ru">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css?ver=2'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src='scrypts/main.js'></script>
    <script src='scrypts/list.js?ver=1'></script>
    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(94892781, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94892781" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <a href="/" class="button-go-back">⇐ На главную</a>
    <div class="main-container">
        <h1>Значение карт в таро</h1>
        <!-- Yandex.RTB R-A-3135103-1 -->
        <div id="yandex_rtb_R-A-3135103-1"></div>
        <script>
        window.yaContextCb.push(()=>{
            Ya.Context.AdvManager.render({
                "blockId": "R-A-3135103-1",
                "renderTo": "yandex_rtb_R-A-3135103-1"
            })
        })
        </script>
        <div id="card-list">
            <input v-model="search" class="search" type="text" placeholder="&#128269">
            <div class="flex-container">
                <div v-if="card.is_visible" v-for="card in cards" class="flex-container-element size-s">
                    <h2>{{card.name}}</h2>
                    <div class="flex-container-element-content">
                        <img v-bind:src="'imgs/' + card.name + '.jpg'" v-bind:alt="card.name"></img>
                        <div>
                            <h3>Прямой</h3>
                            <p>
                                {{card.up_desc.join(', ')}}
                            </p>
                            <h3>Перевернутый</h3>
                            <p>
                                {{card.down_desc.join(', ')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <footer>gadalkainga@yandex.ru</footer> 
</body>
</html>
