<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Научится гадать на Таро онлайн</title>
    <meta name="description" content="Тренажер для обучения гаданию на Таро онлайн">
    <meta name="Keywords" content="гадания,таро,пгадания,трактовка,обучение">
    <meta http-equiv="content-language" content="ru">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css?ver=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src='scrypts/main.js'></script>
    <script src='scrypts/trainer.js?ver=1'></script>
    <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(94892781, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94892781" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <a href="/" class="button-go-back">⇐ На главную</a>
    <div id="card-trainer" class="main-container">
        <h1>Обучение Таро</h1>
        <span>
            <span class="text-correct">{{results.correct}}</span>
            /
            <span class="text-wrong">{{results.wrong}}</span>
            /
            <span class="text-warn">{{results.skipped}}</span>
        </span>
        <img v-on:click="nextCard" v-bind:class="choosenCard.down ? 'img-upside-down' : ''" v-bind:src="'imgs/'+choosenCard.name+'.jpg'"></img>
        <div class="radio-variant-container">
            <div v-bind:class="['radio-variant','radio-variant-'+card.mark]" v-for="card in variants">
                <input v-on:click="selectVariant" type="radio" v-bind:id="card.name" v-bind:value="card.name" name="variant">
                <label v-bind:for="card.name">{{card.down ? card.down_desc.join(', ') : card.up_desc.join(', ')}}</label><br>
            </div>
        </div>
        <div>
            <input type="checkbox" id="strait" v-model="straitOnly">
            <label for="strait">Без перевернутых</label>
        </div>
        <!-- Yandex.RTB R-A-3135103-1 -->
        <div id="yandex_rtb_R-A-3135103-1"></div>
        <script>
        window.yaContextCb.push(()=>{
            Ya.Context.AdvManager.render({
                "blockId": "R-A-3135103-1",
                "renderTo": "yandex_rtb_R-A-3135103-1"
            })
        })
        </script>
        <h2>Как работает обучение гаданию?</h2>
        <article class="content-block">
            Данный тренажер показывает вам карту и 4 варианта ее трактовки. Ваша задача угадать какой правильный. После выбора можете нажать на любой вариант или на карту, чтобы попробовать угадать значение следующей карты Таро. Так же вы можете пропустить карту нажав на нее. Над картой вы видите счетчик, который показывает как много карт вы угадали / не угадали / пропустили. Тренируйтесь каждый день и очень скоро вы сможете без проблем понимать что карты Таро говорят вам во время гадания.
        </article>
    </div>
    <footer>gadalkainga@yandex.ru</footer>
</body>
</html>